useDynLib(irtoys)
import(ltm)
import(sm)
importFrom("graphics", "lines", "mtext", "plot", "points", "polygon",
             "segments", "text", "title", "par", "rect", "box", "layout")
importFrom("stats", "approx", "coef", "complete.cases", "cor", "cov",
             "density", "dnorm", "dt", "integrate", "median",
             "model.matrix", "optim", "optimize", "pchisq", "qnorm",
             "quantile", "rt", "runif", "sd", "uniroot", "var", "vcov")
importFrom("utils", "read.fwf", "read.table", "write.table")
S3method(plot,iif)
S3method(plot,imp)
S3method(plot,irf)
S3method(plot,tif)
S3method(plot,trf)
export(ability)
export(dpv)
export(eap)
export(erf)
export(est)
export(iif)
export(interactionModel)
export(irf)
export(irfPlot)
export(mlebme)
export(normal.qu)
export(qrs)
export(read.ip.bilog)
export(read.ip.icl)
export(read.qu.icl)
export(read.resp)
export(scoreMetric)
export(tia)
export(tif)
export(trf)
export(wle)
export(api)
export(itf)
export(npp)
export(sca)
export(sco)
export(sim)
export(tgf)
export(tet)
export(scp)
export(tsc)
export(rim)
